  
APP_ENDPOINT=SAFIRA_ENDPOINT
APP_API_AUTH_SIGN_IN=api/auth/sign_in/
APP_API_AUTH_SIGN_UP=api/auth/sign_up/
APP_API_USER_INFO=api/v1/user/
APP_API_REFERRALS=api/v1/referrals/
APP_API_BADGES=api/v1/badges/
APP_API_ATTENDEE=api/v1/attendee/
APP_API_ATTENDEES=api/v1/attendees/
APP_API_LEADERBOARD=api/v1/leaderboard/
APP_API_IS_REGISTERED=api/v1/is_registered/